/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Jeff Reynolds
Developer @GA in DEN
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

html {
  background: #121212;
}

body {
     height: 100%;
     width: 100%;
     margin: 0;
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;
}

header {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  height: 560px;
}

#logo {
  display: block;
  padding: 30px 3%;
  font-size: 24px;
  font-weight: 800; /*Extra bold*/
  color: #fff;
  margin: 0;
}

#hook {
  text-align: center;
  margin-top: 60px;
  font-size: 24px;
  font-weight: 600; /*Semi-bold*/
  letter-spacing: 0.04em;
  color: #fff;
}

.call-to-action-button {
  display: block;
  text-align: center;
  margin: 40px auto;
  padding: 15px 8%;
  font-size: 14px;
  font-weight: 800;
  color: #033048; /*Dark blue*/
  letter-spacing: 0.02em;
  border-radius: 5px;
  background: #f9e42e; /*Yellow*/
  border: none; 
}

.call-to-action-button:hover {
  border: 2px solid #f9e42e;
  background: transparent;
  color: #f9e42e;
}

main {
  background: #fff;
}

.section-container {
  margin: 0 auto;
  padding: 60px;
  height: 320px;
  width: 50%;
  color: #606161;
}

.section-header {
  font-size: 20px;
  font-weight: 600; /*semi-bold*/
  color: #033048;
}

.blurb {
  font-size: 13px;
  font-weight: 200;
}

.testimonial {
  height: 280px;
  width: 100%;
  background-image: url(../images/testimonial_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
  color: white;
}

.testimonial p {
  padding: 0 30%;
}

.dash {
  font-weight: 400;
}

p.attribution {
  padding: 0;
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

#holy-yellow-batman {
  width: 100%;
  height: 100px;
  padding: 30px 0;
  background: #f9e42e;
}

.blue {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 900;
  background: #033048;
  color: #fff;
}

.blue:hover {
  border: 2px solid #033048;
  background: transparent;
  color: #033048;
}

footer {
  padding: 0 0 40px 0;
  text-align: center;
  font-size: 9px;
  font-weight: 600;
  color: #fff;
}

.logo.yellow {
  padding: 40px;
  color: #f9e42e; 
  /*The only difference between this and the previous "logo" class is the yellow color, so why not just override the white text color from previously, and add appropriate padding?*/
}

.logo-link:active,
.logo-link:focus,
.logo-link:visited {
  text-decoration: none;
}

.social-media-link {
  padding: 25px 40px 25px 25px;
  margin: 15px;
}

.social-media-link:active,
.social-media-link:focus,
.social-media-link:visited {
  text-decoration: none;
  outline: none; /*I think the outline is hideous, but does this have bad accessibility implications?*/
}

#copyright {
  margin-top: 75px;
}









